html, body {
    height: 100%;
    margin: 0px;
}

body {
    background-color: darkgray;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

.board {
    border: 1px solid black;
    width: 600px;
    height: 600px;
    background-color: white;

    display: grid;
    grid-template-columns: repeat(16, 1fr);
}