html, body {
    height: 100%;
    margin: 0px;
}

body {
    background-color: darkgray;
    display: flex;
    align-items: center;
    justify-content: center;
}

.board {
    border: 1px solid black;
    width: 500px;
    height: 500px;
    background-color: white;
}